:root {
    background-color: #101815;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}


#navbar .navbar-links a {
    margin: 0 20px;
    transition: 3s;
}
    


#navbar {
    background-size: cover;
    background-repeat: repeat;
    background-color: #101815;
    height: 75px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: white 1px solid;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    z-index: 100;
    
}

#navbar #navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

#navbar .navbar-links {
    display: inline-flex;
    gap: 50px;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    background-color: #101815;
    font-size: larger;
    
    
}

.navbar-link {
    color: white;
    transition: 0.3s ease;
}

.navbar-link:hover {
    background: linear-gradient(120deg, #36a1ff, aqua);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
    

.hero-section {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-left: 150px;
    margin-right: 150px;

}

.hero-section .right {
    height: 60%;
    top: 200px;
    
}

.hero-section .right > .opening-text {
    height: 60%;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.hero-buttons {
    display: flex;
    gap: 100px;
    margin-top: 60px;
}



.hero-section .left > img {
    border-radius: 35%;
    border: white 10px solid;
    background: aqua;
    box-shadow: 0 0 100px aqua;
    height: 40%;
    position: relative;
    top: 0px;
    margin-top: 50px;
}

.hero-links .github-link a > i{
    color: aqua;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 4rem;
    order: -1;
    
    
}

.hero-links .linkedin-link a > i{
    color: aqua;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 4rem;
    order: 1;
    
}

.hero-links {
    border-radius: 50%;
    gap: 20px;
    position: relative;
    align-content: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-flex;
    bottom: 60px;
    
    
}

.hero-section .left {
    flex-wrap: wrap;
    height: 80%;
    margin-left: 350px;;

}

.color-gradient {
    background: linear-gradient(120deg, #36a1ff, aqua);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    background-color: #25e2e6;
    border: 2px solid #25e2e6;
}

.btn-primary:hover {
    background-color: #101815;
    border: 2px solid #25e2e6;
    color: white;
}

.btn-secondary {
    background-color: #36a1ff;
    border: 2px solid #36a1ff;
    color: white;
}

.btn-secondary:hover {
    background-color: #101815;
    border: 2px solid #36a1ff;
    color: white;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    padding: 0 25px 250px 25px;
    position: absolute;
}

.start-at-top {
    top: 150px;
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin-bottom: -150px;
}

.projects .project-panel-container {
    flex: 50%;
    margin-bottom: 150px;
    padding: 0 75px;
}

.projects .project-panel-container .project-panel {
    background: #323634;
    width: 450px;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
}

.projects .project-panel-container .project-panel .buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .project-panel-container .project-panel .buttons .buttons-left {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.projects .project-panel-container .project-panel .buttons .buttons-right {
    justify-content: flex-end;
}
.section-title {
    text-align: center;
    margin-bottom: 100px;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-link {
    color: aqua;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 4rem;
    position: relative;
}

#github-link-private {
    color: grey;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 4rem;
    position: relative;
}

#language-image {
    width: 50px;
    height: 50px;
    top: 10px;
    bottom: 5px;
    align-items: center;
    position: relative;
}

.navbar-links li {
    list-style: none;
}

ul {
    list-style-type: square;
    align-items: right;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.project-panel p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.section-title {
    text-align: center;
    margin-bottom: 100px;
}

#main-section h2 {
    font-size: 3.158rem;
}

#main-section .section-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}

.section-content {
    max-width: 600px;
    margin-bottom: 1rem;
}

.last-p {
    margin-bottom: 100px;
}
footer {
  background-size: cover;
  background-repeat: repeat;
  background-color: #101815;
  height: 75px;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-top: white 1px solid;
  justify-content: center;
  align-items: center;
  padding: 0 calc(min(30vw, calc(100vw - 1500px)));
  z-index: 100;
    
}